<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        {{ bookForm.csrf_token }}
        {{ bookForm.author.label }}
        {{ bookForm.author }}<br>
        {{ bookForm.book.label }}
        {{ bookForm.book }}<br>
        {{ bookForm.submit }}

    </form>

    <hr>

    <form action="">

        <dl>
            <dt>
                {% for author in authors %}
                    作者: {{ author.name }} <a href="{{ url_for("delete_author", id = author.id) }}">删除</a></dt>
                <dd>{% for book in author.books %}
                <p>书名: {{ book.name }} <a href="{{ url_for("delete_book", id = book.id) }}">删除</a></p>
                {% endfor %}
            </dd>
                {% endfor %}
        </dl>
{##}
{#        <ul>#}
{##}
{#            {% for author in authors %}#}
{#                <li>作者: {{ author.name }}</li>#}
{##}
{#                {% for book in author.books %}#}
{#                     <li>书名: {{ book.name }}</li>#}
{#                {% endfor %}#}
{#                <br>#}
{##}
{#            {% endfor %}#}
{##}
{##}
{#        </ul>#}

    </form>
</body>
</html>

<div>
图书馆管理小项目:
展示:
作者名:
书名:
提交

----------------
作者A 删除
    书名1 删除
    书名2 删除

作者B 删除
    书名1 删除
    书名2 删除

流程:
1. 创建数据库,并设置数据库信息,模型编写
2. 表单创建,添加字段信息
3. 渲染到模板中

</div>